@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  background-color: #f6f9fc !important;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.canvas {
  width: 650px;
  height: 650px;
  background-color: white;
  margin-top: 40px;
  border-radius: 15%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 120px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control_btn {
  display: flex;
  position: relative;
  bottom: 100px;
}

.control_btn button {
  width: 80px;
  margin-left: 20px;
}

.control_color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-right: 5px;
  cursor: pointer;
}

.control_colors {
  display: flex;
  position: sticky;
  bottom: 0;
}

.control_range {
  position: relative;
  bottom: 110px;
}

.customRange {
  opacity: 0.7;
  outline: none;
  transition: opacity 0.2s;
}

.customRange:hover {
  opacity: 1;
}

#sizeValue {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#currentValue {
  font-family: 8px;
  font-weight: 700;
}
